.section-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #151515;
  text-align: center;
  padding: 5vh 0px;
}

.nav-link {
  font-size: 3vh;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

#newsletter * {
    font-size: 10px;
}