.section-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #151515;
  text-align: center;
  padding: 5vh 0px;
}

.nav-link {
  font-size: 3vh;
  cursor: pointer;
}

.icon-size-6 {
  width: 2rem;  /* Ajuste la taille selon tes besoins */
  height: 2rem;
}


html {
  scroll-behavior: smooth;
}

#newsletter * {
    font-size: 2.5vh;
}